html,body {
    font-family: sans-serif;
    margin: 1;
    background-color: #ddd;
    height: 100%;
}

#vspace {
    height: 25px;
}

#infobox {
    background-color: #033C5A;
    float: left;
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    width: 20%;
    max-width: 250px;
    color: white;
}

#header{
    height: 50px;
    line-height: 50px;
    background-color: #033C5A;
    border-radius: 10px;
    margin: 5px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#infobox img {
    width: 90%;
    height: auto;
    max-width: 150px;
}

a {
    text-decoration: none;
}

#infobox a {
    color: #AA9868;
}

#body a {
    color: #80724d;
}

#infobox p {
    font-size: 12px;
    margin-left: 5px;
}

#body-container{
    width: 75%;
    display: table;
    min-height: 100%;
    padding-left: 10px;
    color: #033C5A;
}

#blog-container{
    display: table;
    min-height: 100%;
    padding-left: 10px;
    color: #033C5A;
}

.blog-entry {
    border: #b5b2b2;
    border-style: solid;
    background-color: #bcbbb9;
    border-radius: 5px;
    color: #033C5A;
}

.blog-title {
    border: #949292;
    border-bottom: solid;
    font-weight: bold;
    color: #033C5A;
}
.blog-abstract {
    font-size: 12;
    text-decoration: none;
    color: #033C5A;
}

#body {
    display: table-cell;
    vertical-align: middle;
}

#headshot {
    text-align: center;
}

#footer {
    background-color: #aaa;
    height: 8%;
    display: table;
    width: 100%;
    border-radius: 5px;
}

#footer-container{
    height: 80%;
    display: table-cell;
    vertical-align: middle;
}

#footer-container img{
    height: 50px;
    display: inline-block;
    margin-left: 5px;
}

#footer-right {
    height: 80%;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

#footer-right img{
    height: 50px;
}
